cython
imageio
numpy
matplotlib
pandas
pillow
pyembree
pytest
pyyaml
scikit-image
scipy
tensorboardx
tqdm
trimesh
h5py
plyfile
scikit-learn
torch
torchvision
torchaudio
seaborn
git+https://github.com/openai/CLIP.git
